<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('Gallinas.png') %>);">
  <div class="container">
    <h1>Clara <strong>Y</strong> <strong>Ema</strong>!</h1>
    <p>Producción de huevos basada en el bienestar animal, con gallinas libres de jaula, priorizando su sanidad y alimentadas con materias primas de primera calidad, respetando los hábitos naturales de consumo, libertad de movimiento y comportamiento natural de la especie.</p>
    <a class="btn btn-flat" href="#">Shop now</a>
  </div>
</div>
