.banner {
  // background-size: cover;
  // background-position: center;
  background-color: #227DAF;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Gloria Hallelujah', cursive;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner img {
  // width: 100%;
  // margin-top: -55px;
  margin: 0 auto;
  overflow: hidden;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.banner-img {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-inner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-inner h1 {
  align-self: flex-start;
}

.banner-inner a {
  align-self: flex-start;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .banner-container {
    grid-template-columns: 1fr;
  }

  .banner-inner {
    height: auto;
  }

  .banner-img {
    height: auto;
  }

  .banner{
    height: 120vh;
  }

  .banner-inner a {
    align-self: center;
    margin-bottom: 30px;
  }

  .banner-inner h1, .banner-inner .h1 {
    align-self: center;
  }

  .banner-inner p{
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .banner-container {
    grid-template-columns: 1fr;
  }

  .banner-inner {
    height: auto;
  }

  .banner-img {
    height: auto;
  }

  .banner{
    height: 120vh;
  }

  .banner-inner a {
    align-self: center;
    margin-bottom: 30px;
  }

  .banner-inner h1, .banner-inner .h1 {
    align-self: center;
  }

  .banner-inner p{
    text-align: center;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .banner-container {
    grid-template-columns: 1fr;
  }

  .banner-inner {
    height: auto;
  }

  .banner-img {
    height: auto;
  }

  .banner{
    height: 120vh;
  }

  .banner-inner a {
    align-self: center;
    margin-bottom: 30px;
  }

  .banner-inner h1, .banner-inner .h1 {
    align-self: center;
  }

  .banner-inner p{
    text-align: center;
  }
}
