.btn-flat {
  color: #247DB0;
  padding: 11px 41px;
  border-radius: 4px;
  background: #FBFBFA;
  transition: background 0.3s ease;
  margin-top: 40px;
}

.btn-flat:hover {
  background: #F3AD22 !important;
  color: white !important;
}
